  <div class="row"> 
  <div class="column">
    <div class="container">
    <img src="https://visitdallas.imgix.net/maps/cities/2bb5f67a-c5d9-11e5-b9c7-bc764e04799c.jpg?w=800&h=600&fit=crop&crop=entropy,faces&q=60&fm=pjpg&auto=compress,enhance,format,redeye&trim=auto" alt="Avatar" class="image" style="width:50%">
    <div class="middle">
    <div class="text"> 
    <p>
     <h49>Uptown Dallas</h49>
    </p>
    </div>
</div>
  </div>
  </div>